/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 17, 2019, 12:42:21 PM
    Author     : VINOTI
*/

body {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 25px;
            }
            
            .d{
                background-color: #669900;
            }

            /* Full-width input fields */
            input[type=text], input[type=password], input[type=email] {
                width: 80%;
                padding: 15px;
                margin: 5px 0 22px 0;
                display: inline-block;
                border: none;
                background: #f1f1f1;
            }

            input[type=text]:focus, input[type=password],input[type=email]:focus {
                background-color: #ddd;
                outline: none;
            }

            input[type=submit] {
                width: 7cm;
                height: 1.5cm;
                font-size : 20px;
                font-weight: bold;
                font-family: Arial,Helvetica,sans-serif;
                border-radius: 10%;
            }